name: release
on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Checkout Master Project
        uses: actions/checkout@v4
        with:
          repository: porkyoot/piggy-mods
          submodules: true
          path: .

      - name: Checkout Submodule (Current)
        uses: actions/checkout@v4
        with:
          path: piggy-build # CHANGE THIS for other mods

      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'microsoft'

      - name: Make Gradle Wrapper Executable
        run: chmod +x ./gradlew

      - name: Build
        run: ./gradlew :piggy-build:build # CHANGE THIS for other mods

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          # Note: We look for the jar inside the submodule's build folder
          files: piggy-build/build/libs/*.jar